/// ==========================================================================
// Layout
// ==========================================================================

.layout {
    display: flex;
    height: 100vh;
}

///
// Layout Inner
// ==========================================================================

.layout__inner {
    flex: 1;
    overflow: hidden;
}

///
// Layout Content
// ==========================================================================

.layout__content {
    height: calc(100% - 76px);
    padding: 24px;
    background-color: var(--tt-color-gray);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    overflow: auto;
}

///
// Layout Guest
// ==========================================================================

.layout--guest {
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
