/// ==========================================================================
// Layout
// ==========================================================================

.layout {
    display: flex;
    height: 100vh;
}

///
// Layout Inner
// ==========================================================================

.layout__inner {
    flex: 1;
}

///
// Layout Content
// ==========================================================================

.layout__content {
    background-color: var(--tt-color-gray);
}
