// ==========================================================================
// Variables - Colors
// ==========================================================================

:root {
    /*  Primary Colors  */
    --tt-color-red: #d74b54;
    --tt-color-gray: #f3f6f7;
    --tt-color-blue: #0c3d51;
    --tt-color-orange: #e26040;

    /*  Secondary Colors  */
    --tt-color-blue-1f: #1f7bfd;
    --tt-color-blue-eb: #ebf3ff;
    --tt-color-blue-d2: #d2e5ff;
    --tt-color-blue-13: #134b611a;
    --tt-color-blue-137: #134b6173;
}
