// ==========================================================================
// Variables - Colors
// ==========================================================================

:root {
    /*  Primary Colors  */
    --tt-color-gray: #f3f6f7;
    --tt-color-orange: #e26040;
    --tt-color-blue: #0c3d51;
}
