// ==========================================================================
// Variables
// ==========================================================================

@use '@css/variables/fonts';
@use '@css/variables/colors';

// ==========================================================================
// Components
// ==========================================================================

@use '@/components/text/text';
@use '@/components/input/input';
@use '@/components/stack/stack';
@use '@/components/button/button';
@use '@/components/select/select';
@use '@/components/layout/layout';
@use '@/components/header/header';
@use '@/components/loader/loader';
@use '@/components/sidebar/sidebar';
@use '@/components/checkbox/checkbox';

// ==========================================================================
// Pages
// ==========================================================================

@use '@/pages/projects';

// ==========================================================================
// Generic - Reset
// ==========================================================================

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    color: var(--tt-color-blue);
    font-size: var(--tt-font-size);
    font-family: var(--tt-font-sans-serif);
    line-height: var(--tt-font-line-height);
}

button {
    cursor: pointer;
}

hr {
    height: 1px;
    border: 0;
    background-color: var(--tt-color-blue-13);
}

.form {
    width: 100%;
    max-width: 744px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
}
