// ==========================================================================
// Variables
// ==========================================================================

@use '@css/variables/fonts';
@use '@css/variables/colors';

// ==========================================================================
// Components
// ==========================================================================

@use '@/components/input/input';
@use '@/components/stack/stack';
@use '@/components/select/select';
@use '@/components/layout/layout';
@use '@/components/header/header';
@use '@/components/sidebar/sidebar';

// ==========================================================================
// Pages
// ==========================================================================

@use '@/pages/projects';

// ==========================================================================
// Generic - Reset
// ==========================================================================

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}
