// ==========================================================================
// Variables
// ==========================================================================

@use '@css/variables/colors';

// ==========================================================================
// Components
// ==========================================================================

@use '@/components/stack/stack';
@use '@/components/select/select';
@use '@/components/layout/layout';
@use '@/components/header/header';
@use '@/components/sidebar/sidebar';

// ==========================================================================
// Generic - Reset
// ==========================================================================

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
