/// ==========================================================================
// Stack
// ==========================================================================

$stack-directions: row, column, row-reverse, column-reverse;
$stack-justify: flex-start, center, space-between, space-around, space-evenly,
    flex-end;

.stack {
    display: flex;

    @for $spacing from 1 through 16 {
        &--spacing-#{$spacing * 4} {
            gap: #{$spacing * 4}px;
        }
    }

    @each $direction in $stack-directions {
        &--direction-#{$direction} {
            flex-direction: #{$direction};
        }
    }

    @each $justify in $stack-justify {
        &--justify-#{$justify} {
            justify-content: #{$justify};
        }
    }
}
