/// ==========================================================================
// Stack
// ==========================================================================

$stack-align: stretch, flex-start, center, flex-end, baseline;
$stack-directions: row, column, row-reverse, column-reverse;
$stack-justify: flex-start, center, space-between, space-around, space-evenly,
    flex-end;

.stack {
    display: flex;

    @for $spacing from 1 through 16 {
        &--spacing-#{$spacing * 4} {
            gap: #{$spacing * 4}px;
        }
    }

    @each $direction in $stack-directions {
        &--direction-#{$direction} {
            flex-direction: #{$direction};
        }
    }

    @each $justify in $stack-justify {
        &--justify-#{$justify} {
            justify-content: #{$justify};
        }
    }

    @each $align in $stack-align {
        &--align-#{$align} {
            align-items: #{$align};
        }
    }
}

///
// Stack Bordered
// ==========================================================================

.stack--variant-bordered {
    min-width: 656px;
    padding: 112px;
    border: 1px solid var(--tt-color-gray);
    border-radius: 16px;
}
