/// ==========================================================================
// Button
// ==========================================================================

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    font-size: var(--tt-font-size-xsmall);
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }

    &:disabled {
        opacity: 0.8;
    }
}

///
// Button Big
// ==========================================================================

.button--big {
    height: 88px;
    font-size: var(--tt-font-size);
    border-radius: 16px;
}

///
// Button Blue
// ==========================================================================

.button--blue {
    border: none;
    background-color: var(--tt-color-blue);
}

///
// Button Orange
// ==========================================================================

.button--orange {
    border: none;
    background-color: var(--tt-color-orange);
}

///
// Button Red
// ==========================================================================

.button--red {
    border: none;
    background-color: var(--tt-color-red);
}
