/// ==========================================================================
// Sidebar
// ==========================================================================

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 16px;
}

///
// Sidebar Item
// ==========================================================================

.sidebar__item {
    height: 56px;
    padding: 16px;
    border-radius: 16px;

    &:hover {
        background-color: var(--tt-color-orange);
    }

    &:hover svg {
        stroke: #ffffff;
    }

    &.active {
        background-color: var(--tt-color-blue);
    }

    &.active svg {
        stroke: #ffffff;
    }

    + .sidebar__item {
        margin-top: 8px;
    }
}
